.board {
    padding: 20px;
    font-family: 'Overlock', serif;
}

.board > div {
    display: flex;
    width: fit-content;
    position: relative;
}

.board > div > div {
    flex: 1 1;
}

svg text {
    user-select: none;
    pointer-events: none;
}

.player-area-outline {
    border: 2px solid transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 85px;
    pointer-events: none;
}

.resources {
    display: flex;
}

.highlight {
    border: 2px dashed gray;
    border-radius: 20px;
}

.empty {
    border: 2px dashed gray;
    border-radius: 50%;
}

.gem-stack {
    position: relative;
}

.card-rows {
    flex-direction: column;
}

.card-row {
    display: flex;
    margin: 5px;
}

.card {
    flex: 1 1;
    margin-left: 10px;
}
